<html>

<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/customNav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

</head>

<body>
    <nav class="navbar navbar-expand-lg justify-content-between" id='custom-nav'>
        <a class="navbar-brand" href="/">
            MoneyFlow
        </a>
        <div class="ml-auto" id="navbarSupportedContent">
            <span class="navbar-text">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                </ul>
            </span>
        </div>
    </nav>


</body>

</html>