<body>
    <h1> Enter the transactions </h1>
    <form id='transaction-container' action="/expenses" method="POST">
        <select name="from" id="from">
            <% data.forEach(function(d){ %>
                <option>
                    <%= d %>
                </option>
                <% }); %>

        </select>

        <input type="number" name='value' id='value'>


        <select name="to" id="to">
            <% data.forEach(function(d){ %>
                <option>
                    <%= d %>
                </option>
                <% }); %>

        </select>
        <button type="submit">Submit</button>
    </form>
    <button type="button" id='add-transaction'> Add another transaction </button>

    <script>
        const addTransaction = document.getElementById('add-transaction');
        const transactionContainer = document.getElementById('transaction-container');
        addTransaction.addEventListener('click', () => {
            // console.log(data);
            transactionContainer.innerHTML = transactionContainer.innerHTML + `<select name="from" id="from">
            <% data.forEach(function(d){ %>
                <option>
                    <%= d %>
                </option>
                <% }); %>

        </select>

        <input type="number" name='value' id='value'>


        <select name="to" id="to">
            <% data.forEach(function(d){ %>
                <option>
                    <%= d %>
                </option>
                <% }); %>

        </select>`;
        })
    </script>
</body>