<header>
    <%- include('partials/header') %>
</header>

<head>
    <link rel="stylesheet" href="css/help.css">
</head>
<main>
    <ul>
        <li>Hi there welcome to myflow</li>
        <li>Here you can visualize the the flow of money between your friends</li>
        <li> And get a solution network with minimum transactions needed to reslove the amount </li>
    </ul>

</main>