<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='css/home.css' rel="stylesheet" >
    <title>MoneyFlow</title>
    
</head>

<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <main>
        <%- include('inputContainer') %>
    </main>

    <footer class='footer text-center'>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>