<body>
    <h2>Add the participants</h2>
    <form action="/" method="POST" id="input-container" class='container'>
        <input type="text" name="person1">
        <button type="button" id='add-person' class='add-person'> Add Person  <i class="fas fa-plus"></i> </button>
    </form>
    <button type="submit" class='submit' form="input-container"> Submit </button>
    
    
    <script src="js/index.js"></script>
</body>