<body>
    <form action="/" method="POST" id="input-container">
        <input type="text" name="person1">
        <button type="button" id='add-person'> Add Person </button>
        <button type="submit" id='submit'> Submit </button>
    </form>
    <script src="js/index.js"></script>
</body>