@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;1,900&display=swap");

main {
  min-height: 80vh !important;
  display: flex;
  font-family: "Mulish", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container{
  
}

h1 {
  color: rgb(4, 4, 29) !important;
}
