
:root {
    --background-color:#eeeded;
    --primary-color: #242333;
  }
  * {
    box-sizing: border-box;
  }
  main {
    display: flex;
    min-height: 88vh !important;
    font-family: "Mulish", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
  }
 
.graph-container{
    height:80%;
    width: 40%;
    overflow: hidden;
    margin: 1rem;
}
.vis-network{
    max-height: 80vh !important;
}
.network-container{
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}