.graph-container{
    height:80%;
    width: 40%;
    overflow: hidden;
    margin: 1rem;
}
.vis-network{
    max-height: 80vh !important;
}
.network-container{
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}